extends ../base
block content 
    video(width="320", height="240", src="/"+video.fileUrl, controls)
    div
        p=video.description
        p #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}
        ul
            each hashtag in video.hashtags
                li #{hashtag}
        span
            a(href="/users/"+video.owner._id) #{video.owner.username}
            span 의 비디오
    if String(video.owner._id) === String(user._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
    