extends ../base
block content 
    video.watch(src="/"+video.fileUrl, controls)
    div 
        button#play Play 
        button#mute Mute 
        span#time 00:00/00:00
        input(type="range", step="0.1", value="0.5", min="0", max="1")#volume



    div.video__data
        ul.video__hashtags
            each hashtag in video.hashtags
                li #{hashtag}
        h2.video__name=video.title
        a(href="/users/"+video.owner._id).video__owner
            div.video__owner-avatar
                if video.owner.avatar
                    img(src="/"+video.owner.avatar)
                else
                    i.fa-solid.fa-user
            span #{video.owner.username}      
        p.video__description=video.description
        p.video__views #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}
        
        
    if String(video.owner._id) === String(user._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts 
    script(src="/static/js/videoPlayer.js")