mixin video(info)
    div 
        a(href=`/videos/${info.id}`)=info.title
        ul
            li #{info.meta.rating}/5
            li #{info.comments} comments
            li Posted #{info.createdAt.getFullYear()}.#{info.createdAt.getMonth()+1}.#{info.createdAt.getDate()}
            li #{info.meta.views} views 
